[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "idopNetwork"]
	path = idopNetwork
	url = https://github.com/cxzdsa2332/idopnetwork
	shallow = true
	registered = true
